<html lang="en">
  <head>
    <title>Dashboard</title>

    <!-- CSS  -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <br />
      <br />
      <table class="centered">
        <tbody>
          <tr>
            <td>Survey Title</td>
            <td>Eclair</td>
          </tr>
          <tr>
            <td>Subject</td>
            <td>Eclair</td>
          </tr>
          <tr>
            <td>Body</td>
            <td>Eclair</td>
          </tr>
          <tr>
            <td>Email List</td>
            <td>Eclair</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="/js/materialize.min.js"></script>
  </body>
</html>
